certifi
charset-normalizer
Cython
filelock
fsspec
huggingface-hub
idna
Jinja2
MarkupSafe
mpmath
networkx
numpy
packaging
pandas
pip
python-dateutil
pytz
PyYAML
regex
requests
safetensors
setuptools
six
sympy
tokenizers
torch
tqdm
transformers
typing_extensions
tzdata
urllib3
wheel